<%= link_to 'Back', :root %>
<div class="row">
	<div class="col-xs-10 col-xs-offset-1">
		<h3>Edit profile</h3>
		<%= form_for(current_user) do |f| %>
		<div class="row">
			<div class="col-xs-12 col-sm-6">
				<fieldset>
					<div class="form-group">
						<%= f.label :name %>
						<%= f.text_field :name, class: 'form-control', :disabled => true %>
					</div>
					<div class="form-group">
						<%= f.label :email %>
						<%= f.email_field :email, class: 'form-control' %>
					</div>
				</fieldset>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-6">
				<fieldset>
					<h3>Twitter authentication</h3>
					<div class="panel panel-info">
						<div class="panel-body">
							<ul>
								<li>Go to <a href="http://apps.twitter.com" target="_blank">Twitter Apps</a> and login to your Twitter account if you haven't already.</li>
								<li>Click 'Create New App'.</li>
								<li>Give your app a name and description, and enter 'http://sma.taalmonsters.nl' as the Website. Leave the Callback URL empty.</li>
								<li>Click 'Create application'.</li>
								<li>Click 'manage keys and access tokens'.</li>
								<li>Click 'generate access token'.</li>
								<li>Copy the data to this form. Make sure not to copy any whitespace!</li>
							</ul>
						</div>
					</div>
					<% if !current_user.twitter_auth.blank? %>
						<%= f.fields_for :twitter_auth do |tw| %>
						<div class="form-group">
							<%= tw.label :consumer_key, 'Consumer Key' %>
							<%= tw.text_field :consumer_key, class: 'form-control' %>
						</div>
						<div class="form-group">
							<%= tw.label :consumer_secret, 'Consumer Secret' %>
							<%= tw.text_field :consumer_secret, class: 'form-control' %>
						</div>
						<div class="form-group">
							<%= tw.label :access_token, 'Access Token' %>
							<%= tw.text_field :access_token, class: 'form-control' %>
						</div>
						<div class="form-group">
							<%= tw.label :access_secret, 'Access Secret' %>
							<%= tw.text_field :access_secret, class: 'form-control' %>
						</div>
						<% end %>
					<% else %>
						<%= f.fields_for :twitter_auth, TwitterAuth.new do |tw| %>
						<div class="form-group">
							<%= tw.label :consumer_key, 'Consumer Key' %>
							<%= tw.text_field :consumer_key, class: 'form-control' %>
						</div>
						<div class="form-group">
							<%= tw.label :consumer_secret, 'Consumer Secret' %>
							<%= tw.text_field :consumer_secret, class: 'form-control' %>
						</div>
						<div class="form-group">
							<%= tw.label :access_token, 'Access Token' %>
							<%= tw.text_field :access_token, class: 'form-control' %>
						</div>
						<div class="form-group">
							<%= tw.label :access_secret, 'Access Secret' %>
							<%= tw.text_field :access_secret, class: 'form-control' %>
						</div>
						<% end %>
					<% end %>
				</fieldset>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<fieldset>
					<%= f.submit 'Update', :class => 'button' %>
				</fieldset>
			</div>
		</div>
		<% end %>
	</div>
</div>
