<div class="row">
	<div class="col-xs-12 col-sm-6">
		<%= form_for(@twitter_stream, :url => user_twitter_streams_path) do |f| %>
		  <% if @twitter_stream.errors.any? %>
		    <div id="error_explanation">
		      <h2><%= pluralize(@twitter_stream.errors.count, "error") %> prohibited this tweet stream from being saved:</h2>
		
		      <ul>
		      <% @twitter_stream.errors.full_messages.each do |message| %>
		        <li><%= message %></li>
		      <% end %>
		      </ul>
		    </div>
		  <% end %>
		  
		    <div class="form-group">
		      <%= f.label :query %>
		      <%= f.text_field :query, class: 'form-control' %>
		    </div>
		  
		    <div class="form-group">
		      <%= f.label :period %>
		      <p>Enter the number of days to stream this query.</p>
		      <%= f.number_field :period, class: 'form-control', :value => 7, :min => 1, :max => 14 %>
		    </div>
		
		  <div class="actions">
		    <%= f.submit "Create new Twitter Stream", :class => "btn btn-info" %>
		  </div>
		<% end %>
	</div>
</div>
