<%= link_to 'Back to Tweet Streams', user_twitter_streams_path %>
<br>
<div class="row">
	<div class="col-xs-12 col-sm-6">
		<h3>Query details</h3>
		<table>
			<tr>
				<th>Query</th>
				<td><%= @twitter_stream.query %></td>
			</tr>
			<tr>
				<th>Period (days)</th>
				<td><%= @twitter_stream.period %></td>
			</tr>
			<tr>
				<th><%= !@twitter_stream.status.to_s.eql?('finished') ? 'Expires' : 'Expired' %></th>
				<td><%= @twitter_stream.expiration_date.to_s %></td>
			</tr>
      		<% if !@twitter_stream.status.to_s.eql?('finished') %>
      		<tr>
      			<th>Status</th>
      			<td id="tw_stream_<%= @twitter_stream.id %>_status" class="pollable" data-url="<%= poll_stream_status_url(:user_id => current_user.id, :id => @twitter_stream.id) %>"><%= @twitter_stream.status %></td>
      		</tr>
      		<tr>
      			<th>Result count</th>
      			<td id="tw_stream_<%= @twitter_stream.id %>_status_count" class="pollable" data-url="<%= poll_stream_tweets_url(:user_id => current_user.id, :id => @twitter_stream.id) %>"><%= @twitter_stream.tweets.size %></td>
      		</tr>
      		<tr>
      			<th></th>
      			<td><a href="#" class="stop-stream btn-xs btn-warning" data-id="<%= current_user.id %>" data-search-id="<%= @twitter_stream.id %>">Stop</a></td>
      		</tr>
      		<% else %>
      		<tr>
      			<th>Status</th>
      			<td><%= @twitter_stream.status %></td>
      		</tr>
      		<tr>
      			<th>Result count</th>
      			<td><%= @twitter_stream.tweets.size %></td>
      		</tr>
      		<% end %>
      		<% if @twitter_stream.tweets.size > 0 %>
      		<tr>
      			<th></th>
      			<td><a href="/users/<%= @user.id %>/twitter_streams/<%= @twitter_stream.id %>.csv" target="_blank" class="btn-xs btn-info">Download tweets</a></td>
      		</tr>
      		<% end %>
		</table>
	</div>
</div>
<br>
<div class="row">
	<div id="tweets" class="col-xs-12">
		<h3>Query results</h3>
		<%= render 'tweets/index' %>
	</div>
</div>
<br>
