<div class="row">
	<div class="col-xs-12 col-sm-6">
		<%= form_for(@facebook_search, :url => user_facebook_searches_path) do |f| %>
		<% if @facebook_search.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@facebook_search.errors.count, "error") %> prohibited this facebook_search from being saved:</h2>

			<ul>
				<% @facebook_search.errors.full_messages.each do |message| %>
				<li>
					<%= message %>
				</li>
				<% end %>
			</ul>
		</div>
		<% end %>

		<div class="form-group">
			<%= f.label :query %>
			<%= f.text_field :query, class: 'form-control' %>
		</div>

		<div class="actions">
			<%= f.submit 'Create new Facebook Search', :class => 'btn btn-info' %>
		</div>
		<% end %>
	</div>
</div>
