<%= link_to 'Back to Facebook Searches', user_facebook_searches_path %>
<br>
<div class="row">
	<div class="col-xs-12 col-sm-6">
		<h3>Query details</h3>
		<table>
			<tr>
				<th>Query</th>
				<td><%= @facebook_search.query %></td>
			</tr>
      		<% if !@facebook_search.status.to_s.eql?('finished') %>
      		<tr>
      			<th>Status</th>
      			<td id="fb_search_<%= @facebook_search.id %>_status" class="pollable" data-url="<%= poll_fb_search_status_url(:user_id => current_user.id, :id => @facebook_search.id) %>"><%= @facebook_search.status %></td>
      		</tr>
      		<tr>
      			<th>Result count</th>
      			<td id="fb_search_<%= @facebook_search.id %>_status_count" class="pollable" data-url="<%= poll_facebook_statuses_url(:user_id => current_user.id, :id => @facebook_search.id) %>"><%= @facebook_search.facebook_statuses.size %></td>
      		</tr>
      		<tr>
      			<th></th>
      			<td><a href="#" class="stop-facebook-search btn-xs btn-warning" data-id="<%= current_user.id %>" data-search-id="<%= @facebook_search.id %>">Stop</a></td>
      		</tr>
      		<% else %>
      		<tr>
      			<th>Status</th>
      			<td><%= @facebook_search.status %></td>
      		</tr>
      		<tr>
      			<th>Result count</th>
      			<td><%= @facebook_search.facebook_statuses.size %></td>
      		</tr>
      		<% end %>
      		<% if @facebook_search.facebook_statuses.size > 0 %>
      		<tr>
      			<th></th>
      			<td><a href="/users/<%= @user.id %>/facebook_searches/<%= @facebook_search.id %>.csv" target="_blank" class="btn-xs btn-info">Download Facebook statuses</a></td>
      		</tr>
      		<% end %>
		</table>
	</div>
</div>
<br>
<div class="row">
	<div id="facebook-statuses" class="col-xs-12">
		<h3>Query results</h3>
		<%= render 'facebook_statuses/index' %>
	</div>
</div>
<br>