<table class="table table-striped">
  <thead>
    <tr>
    	<th>Query</th>
    	<th>Created at</th>
    	<th>Tweet count</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @twitter_searches.each do |twitter_search| %>
      <tr>
      	<td><%= twitter_search.query %></td>
      	<td><%= twitter_search.created_at.strftime("%Y-%m-%d %H:%M") %></td>
      	<td><%= twitter_search.tweets.size %></td>
        <td><%= link_to 'Show', user_twitter_search_path(:id => twitter_search.id) %></td>
        <td><%= link_to 'Destroy', user_twitter_search_path(:id => twitter_search.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>