<div class="row">
	<div class="col-xs-12">
	    <ul class="list-unstyled">
	    	<li><label>Query</label> <%= @twitter_search.query %></li>
	    	<li><label>Status</label> <span id="status" data-status="<%= @twitter_search.status %>"><%= @twitter_search.status.eql?(:finished) ? 'Finished' : 'Running' %></span></li>
	    	<li><label>Tweet count</label> <span id="tweet-count"><%= @twitter_search.tweets.size %></span></li>
	    	<% if @twitter_search.tweets.size > 0 %>
	    	<li><label></label> <a href="/users/<%= @user.id %>/twitter_searches/<%= @twitter_search.id %>.csv" target="_blank" class="btn-xs btn-info">Download tweets</a></li>
	    	<% end %>
	    	<% if @twitter_search.status == 1 %>
	    	<li class="hidden"><label></label> <button id="stop-twitter-search" data-id="<%= @user.id %>" data-search-id="<%= @twitter_search.id %>" class="btn-xs btn-warning">Stop stream</button></li>
	    	<% end %>
	    </ul>
	</div>
</div>
<%= link_to 'Back to Twitter Searches', user_twitter_searches_path %>
<div class="row">
	<div id="tweets" class="col-xs-12">
		<%= render 'tweets/index' %>
	</div>
</div>
<br>