<div class="row">
	<div class="col-xs-12 col-sm-6">
		<%= form_for(@twitter_id_search, :url => user_twitter_id_searches_path) do |f| %>
		  <% if @twitter_id_search.errors.any? %>
		    <div id="error_explanation">
		      <h2><%= pluralize(@twitter_id_search.errors.count, "error") %> prohibited this twitter_id_search from being saved:</h2>
		
		      <ul>
		      <% @twitter_id_search.errors.full_messages.each do |message| %>
		        <li><%= message %></li>
		      <% end %>
		      </ul>
		    </div>
		  <% end %>
		  
		    <div class="form-group">
		      <%= f.label :query %>
		      <p>Enter max. 100 tweet IDs, separated by commas (no spaces!).</p>
		      <%= f.text_area :query, class: 'form-control', cols: 40, rows: 10 %>
		    </div>
		
		  <div class="actions">
		    <%= f.submit "Submit", :class => "btn btn-default" %>
		  </div>
		<% end %>
	</div>
</div>
